<div class="login-input"> 
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
            
                <div class="login-title">
                    <h4>Username</h4>
                </div>

                <fieldset>
                    <input type="text" 
                        ngModel 
                        #username="ngModel" 
                        name="username" 
                        id="username" 
                        placeholder="Enter your name"
                    />
                </fieldset>
        
            <button class="login-button" type="submit">Login</button>
        
    </form>
</div>

