<div class="catalogue-page">
  <div class="catalogue-nav">
    <div class="header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png" alt="" class="pokeball">
      <h1>Pokedex</h1>
    </div>
    <div class="pokemons-cnt">
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
      <app-catalogue-poke-elem></app-catalogue-poke-elem>
    </div>
  </div>
  <div class="catalogue-content">content</div>
</div>

