@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #ffcb05;
  --blue: #2a75bb;
  --lightblue: #4091dc;
}

h1 {
  color: var(--yellow);
  letter-spacing: 5px;

}
